extends ../layout

block content
	section#main.column
		.clear
		article.module.width_full
			header
				h3.tabs_involved List teams
			.tab_container
				#tab1.tab_content
					table.tablesorter(cellspacing='0')
						thead
							tr
								//
									th ID
								th Name
								th Description
								th Actions
							tbody
							- each team in teams
								tr
									//
										td	#{team.idteams}
									td	#{team.name}
									td	#{team.description}
									td
										a(href='editTeam/#{team.idteams}')
											input(type='image',	src='images/icn_edit.png',	title='Edit')
										a(href='deleteTeam/#{team.idteams}')
											input(type='image',	src='images/icn_trash.png',	title='Trash')
			//
				end	of	#tab1	
		//
			end	of	.tab_container	
		//
			end	of	content	manager	article
		.spacer
